<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span id="k8s-ingress-annotations-dropdown" class="pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Annotations
        <clr-icon *ngIf="form.controls.annotations.invalid" shape="exclamation-circle" class="icon-danger small-icon"></clr-icon>
      </span>
    </h6>
  </div>
</div>
<div class="row" [hidden]="!isComponentExpanded">
  <div [formGroup]="form" class="pt10">
    <div class="col-xs-11 offset-xs-1">
      <table class="table table-noborder mv0">
        <thead>
          <tr>
            <th style="text-align: left; width: 50%;">
              <button style="border: none;">Name</button>
            </th>
            <th style="text-align: left; width: 50%;">
              <button style="border: none;">Value</button>
            </th>
            <th>
              <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddAnnotation()"></clr-icon>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="annotations">
          <tr *ngFor="let labelVar of annotations; let i = index" [formGroupName]="i">
            <td>
              <label class="table-input" [ngClass]="annotations[i].controls.key.invalid ? 'tooltip tooltip-validation tooltip-bottom-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                <input placeholder="Required" maxlength="128" class="table-input" type="text" formControlName="key">
                <span class="tooltip-content">
                  <span *ngIf="annotations[i].controls.key.errors?.required === true">Name is required
                    <br/>
                  </span>
                  <span *ngIf="annotations[i].controls.key.errors?.lowercaseAlphaNumericDashPeriodSlash === true">Name may only contain lowercase letters, numbers, dashes, slash, and periods
                    <br/>
                  </span>
                  <span *ngIf="annotations[i].controls.key.errors?.containsDoublePeriod === true">Name cannot have 2 periods in a row
                    <br/>
                  </span>
                  <span *ngIf="annotations[i].controls.key.errors?.containsDoubleDash === true">Name cannot have 2 dashes in a row
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td>
              <label class="table-input" [ngClass]="annotations[i].controls.value.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                <input placeholder="Required" maxlength="128" class="table-input" type="text" formControlName="value">
                <span class="tooltip-content">
                  <span *ngIf="annotations[i].controls.value.errors?.required === true">Value is required
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td>
              <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveAnnotation(i)"></clr-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>