.tool-bar {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: 0 -1px 0 #ccc inset;
  overflow: hidden;
}
