<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span id="k8s-info-helm-dropdown" class="pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Helm Settings
        <!-- <clr-icon *ngIf="form.controls.secrets.invalid" shape="exclamation-circle" class="icon-danger small-icon"></clr-icon> -->
      </span>
    </h6>
  </div>
</div>
<div [hidden]="!isComponentExpanded">
  <div class="">
    <div class="col-xs-11 offset-xs-1">
      <form class="pt0">
        <input type="radio" name="settingsType" value="form.value.helmSettingsAll" [checked]="form.value.helmSettingsAll" (click)="setHelmSettingsAll(true)"> All Values
        <br>
        <input type="radio" name="settingsType" value="!(form.value.helmSettingsAll)" [checked]="!(form.value.helmSettingsAll)" (click)="setHelmSettingsAll(false)"> Selected Values
        <br>
        <div class="checkbox-set" *ngIf="form.value.helmSettingsAll == false">
            <input type="checkbox" [checked]="form.value.helmSettingsEnvironment" (click)="envVarsOnClick()"> Environment Variables<br>
            <input type="checkbox" [checked]="form.value.helmSettingsLabels" (click)="labelsOnClick()"> Labels<br>
            <input type="checkbox" [checked]="form.value.helmSettingsPorts" (click)="portsOnClick()"> Ports
        </div>
      </form>
    </div>
  </div>
</div>