
<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span id="k8s-info-secrets-dropdown" class="pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Secrets
        <clr-icon *ngIf="form.controls.secrets.invalid" shape="exclamation-circle" class="icon-danger small-icon"></clr-icon>
      </span>
    </h6>
  </div>
</div>
<div [hidden]="!isComponentExpanded">
  <div [formGroup]="form" class="pt10">
    <div class="col-xs-11 offset-xs-1">
      <table formArrayName="secrets" class="table mv0">
        <thead>
          <tr>
            <th style="text-align: left; width: 90%">
              <label style="border: none; font-weight: bold; font-size: small;">Secret Volume</label>
            </th>
            <th style="width: 10%;">
              <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddSecretVolume()"></clr-icon>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let object of secrets; let i = index" [formGroupName]="i">
          <tr>
            <td style="text-align: left; width: 30%; display: inline-flex;">
              <label style="display: flex" class="table-input" [ngClass]="secrets[i].controls.name.invalid ? 'tooltip tooltip-validation tooltip-top-right invalid ;' : 'tooltip tooltip-validation tooltip-top-right' ">Volume Name
                <input placeholder="Required" class="table-input" maxlength="253" type="text" formControlName="name">
                <span class="tooltip-content">
                  <span *ngIf="secrets[i].controls.name.errors?.required === true">Volume name is required
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.lowercaseAlphaNumericDashPeriod === true">Volume name may only contain lowercase letters, numbers, dashes, and periods
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.containsDoubleDash === true">Volume name cannot have two or more consecutive dashes
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.containsDoublePeriod === true">Volume name cannot have two or more consecutive periods
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.startsWithDash === true">Volume name cannot begin with a dash
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.startsWithPeriod === true">Volume name cannot begin with a period
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.endsWithDash === true">Volume name cannot end with a dash
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.name.errors?.endsWithPeriod === true">Volume name cannot end with a period
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td style="text-align: left; width: 30%; display: inline-flex;">
              <label style="display: flex" class="table-input" [ngClass]="secrets[i].controls.secret_name.invalid ? 'tooltip tooltip-validation tooltip-top-right invalid ;' : 'tooltip tooltip-validation tooltip-top-right' ">Secret Name
                <input placeholder="Required" class="table-input" maxlength="253" type="text" formControlName="secret_name">
                <span class="tooltip-content">
                  <span *ngIf="secrets[i].controls.secret_name.errors?.required === true">Secret name is required
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.lowercaseAlphaNumericDashPeriod === true">Secret name may only contain lowercase letters, numbers, dashes, and periods
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.containsDoubleDash === true">Secret name cannot have two or more consecutive dashes
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.containsDoublePeriod === true">Secret name cannot have two or more consecutive periods
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.startsWithDash === true">Secret name cannot begin with a dash
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.startsWithPeriod === true">Secret name cannot begin with a period
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.endsWithDash === true">Secret name cannot end with a dash
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.secret_name.errors?.endsWithPeriod === true">Secret name cannot end with a period
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td style="text-align: left; width: 30%; display: inline-flex;">
              <label style="display: flex" class="table-input" [ngClass]="secrets[i].controls.default_mode.invalid ? 'tooltip tooltip-validation tooltip-top-left invalid ;' : 'tooltip tooltip-validation tooltip-top-right' ">Default Mode
                <input placeholder="Required" class="table-input" maxlength="4" type="number" formControlName="default_mode">
                <span class="tooltip-content">
                  <span *ngIf="secrets[i].controls.default_mode.errors?.required === true">Default mode is required
                    <br/>
                  </span>
                  <span *ngIf="secrets[i].controls.default_mode.errors?.defaultModeValidator === true">Default mode must be between 000 and 777
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td style="width: 10%">
              <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveSecretVolume(i)"></clr-icon>
            </td>
          </tr>
          <tr>
            <td>
              <table formArrayName="secret_array" class="table mv0 col-xs-11 offset-xs-1">
                <thead>
                  <tr>
                    <th style="text-align: left; width: 20%;">
                      <label style="border: none; font-weight: bold; font-size: small;">Key</label>
                    </th>
                    <th style="text-align: left; width: 20%;">
                      <label style="border: none; font-weight: bold; font-size: small;">Path</label>
                    </th>
                    <th style="text-align: left; width: 20%;">
                      <label style="border: none; font-weight: bold; font-size: small;">Mode</label>
                    </th>
                    <th style="text-align: left; width: 15%;">
                      <label style="border: none; font-weight: bold; font-size: small;">GID</label>
                    </th>
                    <th style="text-align: left; width: 15%;">
                      <label style="border: none; font-weight: bold; font-size: small;">UID</label>
                    </th>
                    <th style="width: 10%;">
                      <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddSecretVolumeSecret(i)"></clr-icon>
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let secret of secrets[i].value.secret_array; let j = index; trackBy: trackSecretVolumeSecret" [formGroupName]="j">
                  <tr>
                    <td style="width: 20%">
                      <label class="table-input" [ngClass]="secrets[i].controls.secret_array.controls[j].controls.key.invalid ? 'tooltip tooltip-validation tooltip-top-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                        <input placeholder="Required" maxlength="253" class="table-input" type="text" formControlName="key">
                        <span class="tooltip-content">
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.key.errors?.required === true">Key is required
                            <br/>
                          </span>
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.key.errors?.alphaNumericUnderscoreDashPeriod === true">Key may only contain letters, numbers, dashes, underscores, and periods
                            <br/>
                          </span>
                        </span>
                      </label>
                    </td>
                    <td style="width: 20%">
                      <label class="table-input" [ngClass]="secrets[i].controls.secret_array.controls[j].controls.path.invalid ? 'tooltip tooltip-validation tooltip-bottom-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                        <input placeholder="Optional" maxlength="253" class="table-input" type="text" formControlName="path">
                        <span class="tooltip-content">
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.path.errors?.containsDoublePeriod === true">Path cannot have two or more consecutive periods 
                            <br/>
                          </span>
                        </span>
                      </label>
                    </td>
                    <td style="width: 20%">
                      <label class="table-input" [ngClass]="secrets[i].controls.secret_array.controls[j].controls.mode.invalid ? 'tooltip tooltip-validation tooltip-bottom-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                        <input placeholder="Optional" maxlength="4" class="table-input" type="number" formControlName="mode">
                        <span class="tooltip-content">
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.mode.errors?.defaultModeValidator === true">Mode must be between 000 and 777
                            <br/>
                          </span>
                        </span>
                      </label>
                    </td>
                    <td style="width: 15%">
                      <label class="table-input" [ngClass]="secrets[i].controls.secret_array.controls[j].controls.gid.invalid ? 'tooltip tooltip-validation tooltip-bottom-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                        <input placeholder="Required" maxlength="128" class="table-input" type="number" formControlName="gid">
                        <span class="tooltip-content">
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.gid.errors?.required === true">GID is required
                            <br/>
                          </span>
                        </span>
                      </label>
                    </td>
                    <td style="width: 15%">
                      <label class="table-input" [ngClass]="secrets[i].controls.secret_array.controls[j].controls.uid.invalid ? 'tooltip tooltip-validation tooltip-bottom-right invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                        <input placeholder="Required" maxlength="128" class="table-input" type="number" formControlName="uid">
                        <span class="tooltip-content">
                          <span *ngIf="secrets[i].controls.secret_array.controls[j].controls.uid.errors?.required === true">UID is required
                            <br/>
                          </span>
                        </span>
                      </label>
                    </td>
                    <td style="width: 10%">
                      <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveSecretVolumeSecret(i, j)"></clr-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>