<div class="row">
  <div class="col-sm-12">
    <h6 class="pointer" [ngSwitch]="isComponentExpanded">
      <span id="k8s-service-selector-dropdown" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Selectors
        <clr-icon *ngIf="form.controls.selector.invalid" shape="exclamation-circle" class="icon-danger small-icon mb5"></clr-icon>
      </span>
      <button [hidden]="!isComponentExpanded" class="btn btn-sm" style="float:right;" (click)="handleOpenBulkEdit()">Bulk Edit</button>
    </h6>
  </div>
</div>
<div class="row" [hidden]="!isComponentExpanded">
  <div class="col-xs-11 offset-xs-1">
    <div [formGroup]="form" class="pt10">
      <table style="width: 100%" class="table table-noborder mv0">
        <thead>
          <tr>
            <th style="text-align: left; width: 50%;">
              <button style="border: none;" (click)="handleToggleSortKey()">Name</button>
              <clr-icon *ngIf="isKeySortedAscending === undefined || !isKeySortedAscending" shape="arrow" size="12"></clr-icon>
              <clr-icon *ngIf="isKeySortedAscending === undefined || isKeySortedAscending" shape="arrow" size="12" flip="vertical"></clr-icon>
            </th>
            <th style="text-align: left; width: 50%;">
              <button style="border: none;" (click)="handleToggleSortValue()">Value</button>
              <clr-icon *ngIf="isValueSortedAscending === undefined || !isValueSortedAscending" shape="arrow" size="12"></clr-icon>
              <clr-icon *ngIf="isValueSortedAscending === undefined || isValueSortedAscending" shape="arrow" size="12" flip="vertical"></clr-icon>
            </th>
            <th>
              <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddSelector()"></clr-icon>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="selector">
          <tr *ngFor="let item of selector; let i = index" [formGroupName]="i">
            <td>
              <label class="table-input" [ngClass]="selector[i].controls.key.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                <input class="table-input" maxlength="128" type="text" formControlName="key">
                <span class="tooltip-content">
                  <span *ngIf="selector[i].controls.key.errors?.required === true">Name is a required field
                    <br/>
                  </span>
                  <span *ngIf="selector[i].controls.key.errors?.lowercaseAlphaNumericDashPeriodSlash === true">Name may only contain lowercase letters, numbers, periods, slash, and dashes
                    <br/>
                  </span>
                  <span *ngIf="selector[i].controls.key.errors?.containsDoublePeriod === true">Name must not contain double periods
                    <br/>
                  </span>
                  <span *ngIf="selector[i].controls.key.errors?.containsDoubleDash === true">Name must not container double dashes
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td>
              <label class="table-input" [ngClass]="selector[i].controls.value.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                <input class="table-input" type="text" maxlength="128" formControlName="value">
                <span class="tooltip-content">
                  <span *ngIf="selector[i].controls.value.errors?.required === true">Value is a required field
                    <br/>
                  </span>
                  <span *ngIf="selector[i].controls.value.errors?.maxLength128 === true">Value must be 128 characters or less
                    <br/>
                  </span>
                  <span *ngIf="selector[i].controls.value.errors?.alphaNumericDashPeriod === true">Value may only contain letters, numbers, dashes, and periods
                    <br/>
                  </span>
                </span>
              </label>
            </td>
            <td>
              <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveSelector(i)"></clr-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>