<clr-modal #newVolumeModal [(clrModalOpen)]="show" [clrModalClosable]="false">
  <h3 *ngIf="!isTemplate" class="modal-title align-left">New Persistent Volume Claim</h3>
  <h3 *ngIf="isTemplate" class="modal-title align-left">New Persistent Volume Claim Template</h3>
  <div style="padding-bottom: 72px;" class="modal-body align-left">
    <form class="form compact" [formGroup]="form">
      <div class="form-group">
        <label>Name</label>
        <label aria-haspopup="true" role="tooltip" [ngClass]="(errors.nameTooltipErrors.length > 0) ? 'tooltip tooltip-validation tooltip-bottom-left invalid width-inherit' : 'tooltip tooltip-validation tooltip-top-left width-inherit'">
          <input id="k8s-new-volume-name-input" maxlength="253" type="text" formControlName="name" (input)="checkFormValidity()" autofocus>
          <span class="tooltip-content">
            <div *ngFor="let error of errors.nameTooltipErrors; let i = index">
              {{error}}.
            </div>
          </span>
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
        <label aria-haspopup="true" role="tooltip" [ngClass]="(errors.descriptionTooltipErrors.length > 0) ? 'tooltip tooltip-validation tooltip-bottom-left invalid width-inherit' : 'tooltip tooltip-validation tooltip-top-left width-inherit'">
          <input id="k8s-new-volume-description-input" type="text" formControlName="description" (input)="checkFormValidity()" size="36">
          <span class="tooltip-content">
            <div *ngFor="let error of errors.descriptionTooltipErrors; let i = index">
              {{error}}.
            </div>
          </span>
        </label>
      </div>
      <div class="form-group">
        <label id="k8s-new-volume-volumemode-label">Volume Mode</label>
        <div class="select">
          <select formControlName="volume_mode">
            <option *ngFor="let option of volumeModeOptions" [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label id="k8s-new-volume-storageclass-label">Storage Class</label>
        <label aria-haspopup="true" role="tooltip" [ngClass]="(errors.storageClassTooltipErrors.length > 0) ? 'tooltip tooltip-validation tooltip-bottom-left invalid width-inherit' : 'tooltip tooltip-validation tooltip-top-left width-inherit'">
          <input id="k8s-new-volume-storageclass-input" type="text" formControlName="storage_class" (input)="checkFormValidity()" size="36">
          <span class="tooltip-content">
            <div *ngFor="let error of errors.storageClassTooltipErrors; let i = index">
              {{error}}.
            </div>
          </span>
        </label>
      </div>
      <div class="form-group">
        <label id="k8s-new-volume-storage-label">Storage</label>
        <label aria-haspopup="true" role="tooltip" [ngClass]="(errors.storageTooltipErrors.length > 0) ? 'tooltip tooltip-validation tooltip-top-left invalid width-inherit' : 'tooltip tooltip-validation tooltip-top-left width-inherit'">
          <input id="k8s-new-volume-storage-input" type="text" formControlName="storage" (input)="checkFormValidity()" size="36">
          <span class="tooltip-content">
            <div *ngFor="let error of errors.storageTooltipErrors; let i = index">
              {{error}}.
            </div>
          </span>
        </label>
      </div>
    </form>
  </div>
  <div style="padding-top: 0px;" class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Create</button>
  </div>
</clr-modal>