<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span id="k8s-controller-initcontainers-dropdown" class="pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Init Containers
      </span>
    </h6>
  </div>
</div>
<div class="row" [hidden]="!isComponentExpanded">
  <div class="col-xs-11 offset-xs-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Drag Init Containers To Order
      </div>
      <div class="panel-body">
        <ul class="list-group" dnd-sortable-container [sortableData]="initArray">
          <li *ngFor="let initContainer of initArray; let i = index" class="card m1" dnd-sortable [sortableIndex]="i" (onDropSuccess)="handleChangeInitOrder()">
            <span class="p5">
                {{initContainer}}
            </span>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>