<div class="container">
  <form [formGroup]="form" class="form compact mh300">
    <label class="mb10 fw600 black" style="width: 5rem;">Empty Directory</label>
    <!-- empty dir name -->
    <div style="padding-left: 4rem;" class="form-group">
      <label style="width: 4rem;">
        Name
      </label>
      <label class="table-input" [ngClass]="form.controls.name.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
        <input maxlength="253" class="table-input" placeholder="Required" formControlName="name" type="text">
        <span class="tooltip-content">
          <span *ngIf="this.form.controls.name.errors?.required == true">Name is Required
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.maxLength253 === true">Name must be 253 characters or less
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.lowercaseAlphaNumericDashPeriod === true">Name may only contain
            lowercase letters, numbers, dashes, and periods
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.startsWithDash === true">Name may not begin with a dash
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.endsWithDash === true">Name may not end with a dash
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.startsWithPeriod === true">Name may not begin with a period
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.endsWithPeriod === true">Name may not end with a period
            <br />
          </span>
          <span *ngIf="this.form.controls.name.errors?.duplicateNameValidator === true">Name must be unique, an empty
            dir already exists with this name
            <br />
          </span>
        </span>
      </label>
    </div>
    <!-- end empty dir name -->

    <!-- empty dir description -->
    <div style="padding-left: 4rem;" class="form-group">
      <label style="width: 4rem;">
        Description
      </label>
      <div class="textarea-wrapper">
        <textarea type="textarea" formControlName="description" maxlength="256" width="100%"></textarea>
      </div>
    </div>
    <!-- end empty dir description -->

    <!-- volume access mode -->
    <div style="padding-left: 4rem;" class="form-group">
      <label class="tooltip tooltip-bottom-right" id="k8s-emptydir-medium-label" style="width: 4rem;">
        <span class="tooltip-content">
          {{tooltipService.tooltips.k8sEmptydirMediumLabel}}
        </span>
        Medium
      </label>
      <label class="table-input">
        <input type="checkbox" id="k8s-emptydir-medium-input" formControlName="medium">
        <label for="memory" style="margin-top:0px;margin-bottom:0px;">
          Memory
        </label>
      </label>
    </div>
    <!-- END volume access mode -->

  </form>
</div>