<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span class="pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Empty Directories
        <clr-icon *ngIf="form.controls.empty_dir_ref.invalid" shape="exclamation-circle" class="icon-danger small-icon"></clr-icon>
      </span>
    </h6>
  </div>
</div>
<div class="row" [hidden]="!isComponentExpanded">
  <div [formGroup]="form" class="pt10">
    <div class="col-xs-11 offset-xs-1">
      <table class="table table-noborder mv0">
        <thead>
          <tr>
            <th style="text-align: left; width: 30%;">
              <button style="border: none;">Name</button>
            </th>
            <th style="text-align: left; width: 70%;">
              <button style="border: none;">Path</button>
            </th>
            <th>
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody formArrayName="empty_dir_ref">
          <tr *ngFor="let item of empty_dir_ref; let i = index" [formGroupName]="i">
            <td>
              <label class="table-input">
                <input class="table-input" type="text" formControlName="name">
              </label>
            </td>
            <td>
              <label class="table-input" [ngClass]="item.controls.path.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                <input class="table-input" type="text" formControlName="path">
                <span class="tooltip-content">
                  <span *ngIf="item.controls.path.errors?.required == true">Path is Required
                    <br/>
                  </span>
                </span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>