<clr-modal #newVolumeModal [(clrModalOpen)]="show" [clrModalClosable]="false">
  <h3 class="modal-title align-left">New Daemon Set Controller</h3>
  <div style="padding-bottom: 80px;" class="modal-body align-left">
    <form class="form compact" [formGroup]="form">
      <div class="form-group">
        <label>Name</label>
        <label class="table-input" [ngClass]="form.controls.name.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
          <input maxlength="253" class="table-input" placeholder="Required" type="text" formControlName="name">
          <span class="tooltip-content">
            <span *ngIf="this.form.controls.name.errors?.required == true">Name is Required
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.maxLength253 === true">Name must be 253 characters or less
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.lowercaseAlphaNumericDashPeriod === true">Name may only contain lowercase letters, numbers, dashes, and periods
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.startsWithDash === true">Name may not begin with a dash
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.endsWithDash === true">Name may not end with a dash
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.startsWithPeriod === true">Name may not begin with a period
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.endsWithPeriod === true">Name may not end with a period
              <br/>
            </span>
            <span *ngIf="this.form.controls.name.errors?.duplicateNameValidator == true">Name must be unique, a container already exists with this name.</span>
          </span>
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
        <label style="width:100%">
          <input id="k8s-new-deployment-description-input" type="text" formControlName="description" maxlength="128" style="width:100%">
        </label>
      </div>
    </form>
  </div>
  <div style="padding-top: 0px;" class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Create</button>
  </div>
</clr-modal>