<div class="row">
  <div class="col-sm-12">
    <h6 [ngSwitch]="isComponentExpanded">
      <span id="k8s-container-livenessprobe-dropdown" class="tooltip tooltip-bottom-right pointer mb5" (click)="isComponentExpanded = !isComponentExpanded">
        <span class="tooltip-content">
            {{tooltipService.tooltips.k8sContainerLivenessprobeDropdown}}
        </span>
        <clr-icon *ngSwitchCase="false" shape="caret right"></clr-icon>
        <clr-icon *ngSwitchCase="true" shape="caret down"></clr-icon>
        Liveness Probe
        <clr-icon *ngIf="form.controls.livenessProbe.invalid" shape="exclamation-circle" class="icon-danger small-icon"></clr-icon>
      </span>
    </h6>
  </div>
</div>
<div [formGroup]="form" class="row" *ngIf="isComponentExpanded">
  <div formGroupName="livenessProbe" class="col-sm-12">
    <div class="pl30 form compact">
      <div style="padding-left: 4rem;" class="form-group">
        <label style="width: 4rem;">Protocol</label>
        <div class="select">
          <select formControlName="protocol">
            <option *ngFor="let option of protocolOptions" [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>
      <span *ngIf="livenessProbe.value.protocol !== ''">
        <div style="padding-left: 4rem;" class="form-group">
          <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-interval-label" style="width: 4rem;">Interval
          <span class="tooltip-content">
              {{tooltipService.tooltips.k8sContainerLivenessprobeIntervalLabel}}
          </span>
          </label>
          <input type="number" formControlName="interval" min="0">
        </div>
        <div style="padding-left: 4rem;" class="form-group">
          <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-timeout-label" style="width: 4rem;">Timeout
          <span class="tooltip-content">
              {{tooltipService.tooltips.k8sContainerLivenessprobeTimeoutLabel}}
          </span>
          </label>
          <input type="number" formControlName="timeout" min="0">
        </div>
        <div style="padding-left: 4rem;" class="form-group">
          <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-retries-label" style="width: 4rem;">Retries
          <span class="tooltip-content">
              {{tooltipService.tooltips.k8sContainerLivenessprobeRetriesLabel}}
          </span>
          </label>
          <input type="number" formControlName="retries" min="0">
        </div>
      </span>

      <!-- ******************************** -->
      <!-- liveliness probe exec form array -->
      <!-- ******************************** -->
      <div *ngIf="livenessProbe.value.protocol === 'exec'" class="row pt10">
        <div class="col-xs-11">
          <table class="table table-noborder mv0">
            <thead>
              <tr>
                <th style="text-align: left; width: 100%;">
                  <h6>
                    <span class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-probecommand-label">
                      Liveness Probe Command
                      <span class="tooltip-content">
                          {{tooltipService.tooltips.k8sContainerLivenessprobeProbecommandLabel}}
                      </span>
                    </span>
                  </h6>
                </th>
                <th>
                  <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddHealthCmd()"></clr-icon>
                </th>
              </tr>
            </thead>
            <h6 class="warning mt0" *ngIf="healthcmdsErrors?.minLengthArray === true">
              Exec probe must have at least one command.
            </h6>
            <tbody formArrayName="healthcmd">
              <tr *ngFor="let healthCmd of healthcmds; let i = index">
                <label class="table-input" [ngClass]="healthcmds[i].invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                  <input placeholder="Required" class="table-input" type="text" formControlName="{{ i }}">
                  <span class="tooltip-content">
                    <span *ngIf="healthcmds[i].errors?.required === true">Command must have a value
                      <br/>
                    </span>
                  </span>
                </label>
                <td>
                  <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveHealthCmd(i)"></clr-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- ************************************ -->
      <!-- END liveliness probe exec form array -->
      <!-- ************************************ -->

      <!-- ******************** -->
      <!-- BEGIN HTTP GET PROBE -->
      <!-- ******************** -->
      <div *ngIf="livenessProbe.value.protocol === 'http'" class="row pt10">
        <div class="col-xs-11">
          <table class="table table-noborder mv0">
            <thead>
              <tr>
                <th style="text-align: left; width: 100%;">
                  <h6>
                    <span class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-probecommand-label">
                      HTTP Probe
                      <span class="tooltip-content">
                          {{tooltipService.tooltips.k8sContainerLivenessprobeProbecommandLabel}}
                      </span>
                    </span>
                  </h6>
                </th>
              </tr>
            </thead>
            <div formGroupName="httpGet" class="row">
              <div class="col-sm-12">
                <div class="form compact">
                  <div style="padding-left: 4rem;" class="form-group">
                    <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-host-label" style="width: 4rem;">Host
                    <span class="tooltip-content">
                        {{tooltipService.tooltips.k8sContainerLivenessprobeHostLabel}}
                    </span>
                    </label>
                    <label class="table-input" [ngClass]="httpGet.controls.host.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                      <input class="table-input" class="table-input" type="text" formControlName="host">
                      <span class="tooltip-content">
                        <span *ngIf="httpGet.controls.host.errors?.required === true">Host is Required
                          <br/>
                        </span>
                        <span *ngIf="httpGet.controls.host.errors?.minlength">Host length must be greater than 1
                          <br/>
                        </span>
                        <span *ngIf="httpGet.controls.host.errors?.ipDnsValidator === true">Host must be an IP or DNS address
                          <br/>
                        </span>
                      </span>
                    </label>
                  </div>
                  <div style="padding-left: 4rem;" class="form-group">
                    <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-scheme-label" style="width: 4rem;">Scheme
                    <span class="tooltip-content">
                        {{tooltipService.tooltips.k8sContainerLivenessprobeSchemeLabel}}
                    </span>
                    </label>
                    <div class="select">
                      <select formControlName="scheme">
                        <option *ngFor="let option of schemeOptions" [value]="option.value">
                          {{ option.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div style="padding-left: 4rem;" class="form-group">
                    <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-path-label" style="width: 4rem;">Path
                    <span class="tooltip-content">
                        {{tooltipService.tooltips.k8sContainerLivenessprobePathLabel}}
                    </span>
                    </label>
                    <label class="table-input" [ngClass]="httpGet.controls.path.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                      <input class="table-input" class="table-input" type="text" formControlName="path">
                      <span class="tooltip-content">
                        <span *ngIf="httpGet.controls.path.errors?.required === true">Path is Required
                          <br/>
                        </span>
                      </span>
                    </label>
                  </div>
                  <div style="padding-left: 4rem;" class="form-group">
                    <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-port-label" style="width: 4rem;">Port
                    <span class="tooltip-content">
                        {{tooltipService.tooltips.k8sContainerLivenessprobePortLabel}}
                    </span>
                    </label>
                    <label class="table-input" [ngClass]="httpGet.controls.port.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                      <input class="table-input" class="table-input" type="number" formControlName="port">
                      <span class="tooltip-content">
                        <span *ngIf="httpGet.controls.port.errors?.required === true">Port is Required
                          <br/>
                        </span>
                        <span *ngIf="httpGet.controls.port.errors?.numericOnly === true">Port must be a number
                          <br/>
                        </span>
                        <span *ngIf="httpGet.controls.port.errors?.numericPortRange === true">Port must be from 1 to 65535
                          <br/>
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- ********************** -->
            <!-- HTTP header form array -->
            <!-- ********************** -->
            <div formGroupName="httpGet" class="row pt10">
              <div class="col-sm-12">
                <div>
                  <label class="tooltip tooltip-bottom-right" id="k8s-container-livenessprobe-http-headers-label">Http Headers
                    <span class="tooltip-content">
                        {{tooltipService.tooltips.k8sContainerLivenessprobeHttpHeadersLabel}}
                    </span>
                  </label>
                </div>
                <table class="table table-noborder mv0">
                  <thead>
                    <tr>
                      <th style="text-align: left; width: 50%;">
                        <label style="border: none;">Http Header</label>
                      </th>
                      <th style="text-align: left; width: 50%;">
                        <label style="border: none;">Value</label>
                      </th>
                      <th>
                        <clr-icon shape="plus-circle" class="is-highlight" (click)="handleAddHttpHeader()"></clr-icon>
                      </th>
                    </tr>
                  </thead>
                  <tbody formArrayName="httpHeaders">
                    <tr *ngFor="let httpHeader of httpHeaders; let i = index" [formGroupName]="i">
                      <td>
                        <label class="table-input" [ngClass]="httpHeader.invalid ? 'tooltip tooltip-validation tooltip-bottom-left invalid' : 'tooltip tooltip-validation tooltip-top-left' ">
                          <input class="table-input" class="table-input" type="text" formControlName="key">
                          <span class="tooltip-content">
                            <span *ngIf="httpHeader.controls.key.errors?.required === true">Http header name is requried
                              <br/>
                            </span>
                          </span>
                        </label>
                      </td>
                      <td>
                        <label class="table-input">
                          <input class="table-input" type="text" formControlName="value">
                        </label>
                      </td>
                      <td>
                        <clr-icon shape="minus-circle" class="is-highlight" (click)="handleRemoveHttpHeader(i)"></clr-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="warning mt0" *ngIf="httpGet?.errors?.hostHeaderExistsValidator === true">
                  Host or host http header must be present.
                </h6>
              </div>
            </div>
            <!-- ************************** -->
            <!-- END HTTP header form array -->
            <!-- ************************** -->

          </table>
        </div>
      </div>
      <!-- ****************** -->
      <!-- END HTTP GET PROBE -->
      <!-- ****************** -->

    </div>
  </div>
</div>